In [1]:
import pandas as pd
import numpy as np

In [11]:
df_paromunicipio2024 = pd.read_csv(
    './Paro_por_municipios_2014_csv.csv',
    encoding='ISO-8859-1',
    sep=';',
    header=1
)

df_paromunicipio2024.head()

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,201401,Enero de 2014,1,Andalucía,4,Almería,4001,Abla,130,6,35,34,7,35,13,8,6,15,88,13
1,201401,Enero de 2014,1,Andalucía,4,Almería,4002,Abrucena,77,5,21,18,6,21,6,13,2,13,40,9
2,201401,Enero de 2014,1,Andalucía,4,Almería,4003,Adra,2622,120,609,548,153,675,517,382,175,510,1319,236
3,201401,Enero de 2014,1,Andalucía,4,Almería,4004,Albánchez,41,1,15,6,1,12,6,0,5,4,30,2
4,201401,Enero de 2014,1,Andalucía,4,Almería,4005,Alboloduy,57,5,15,17,4,9,7,1,4,20,28,4

In [12]:
df_paromunicipio2024 = pd.read_csv(
    './Paro_por_municipios_2019_csv.csv',
    encoding='ISO-8859-1',
    sep=';',
    header=1
)

df_paromunicipio2024.head()

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,201901,Enero de 2019,1,Andalucía,4,Almería,4001,Abla,77,4,15,23,4,21,10,11,5,5,52,4
1,201901,Enero de 2019,1,Andalucía,4,Almería,4002,Abrucena,62,5,9,14,5,16,13,7,6,9,36,4
2,201901,Enero de 2019,1,Andalucía,4,Almería,4003,Adra,2088,103,385,449,97,569,485,386,73,250,1174,205
3,201901,Enero de 2019,1,Andalucía,4,Almería,4004,Albánchez,18,0,2,6,1,7,2,1,0,2,15,0
4,201901,Enero de 2019,1,Andalucía,4,Almería,4005,Alboloduy,35,1,8,12,1,8,5,4,4,7,19,1

In [10]:
df_paromunicipio2024 = pd.read_csv(
    './Paro_por_municipios_2024_csv.csv',
    encoding='ISO-8859-1',
    sep=';',
    header=1
)

df_paromunicipio2024.head()

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,202401,Enero de 2024,1,Andalucía,4,Almería,4001,Abla,80,<5,10,25,<5,19,20,13,6,5,51,5
1,202401,Enero de 2024,1,Andalucía,4,Almería,4002,Abrucena,53,<5,7,17,<5,15,11,5,6,6,30,6
2,202401,Enero de 2024,1,Andalucía,4,Almería,4003,Adra,1830,73,286,369,92,458,552,297,55,169,1124,185
3,202401,Enero de 2024,1,Andalucía,4,Almería,4004,Albánchez,24,<5,<5,9,0,<5,8,<5,<5,<5,17,0
4,202401,Enero de 2024,1,Andalucía,4,Almería,4005,Alboloduy,32,0,6,11,0,8,7,<5,6,<5,19,0